@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Karla, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #E5E5E5;
}

#content {
    width: 550px;
    height: 550px;
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    height: 65px;
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header--icon-image {
    width: 30px;
    height: 25px;
}

.header--icon-title {
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.header--project-title {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.form-container {
    padding: 36px;
}

.main--form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.main--form input[type='text'] {
    width: 230px;
    height: 35px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

input[type='text']:focus {
    outline: none;
}

.main--btn {
    grid-column: 1 / 3;
    padding: 10px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}